.Region {
-fx-background-image:  url('throneopoly_board.jpg');
-fx-background-size: contain;
-fx-background-repeat: no-repeat;
-fx-background-position: top;
}

.rotateButton {
-fx-background-image:  url('rotate_right.png');
}
